/**
* Index
* =========================
* A. @font-face
* B. Modules & Variables
* C. Stylesheet
*		01. Globals
*		02. Typography
*		03. Logo
*		04. Tree View
*		05. Console View
*		06. Responsive
*/

/**************************
A. @font-face
***************************/
@font-face {
	font-family: "Autocode";
	src: url("/css/autocode/atcd.eot"); /* IE9*/
	src: url("/css/autocode/atcd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
			 url("/css/autocode/atcd.woff2") format("woff2"), /* chrome、firefox */
			 url("/css/autocode/atcd.woff") format("woff"), /* chrome、firefox */
			 url("/css/autocode/atcd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			 url("/css/autocode/atcd.svg#Autocode") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: 'fontello';
  src: url('/css/fontello/fontello.eot');
  src: url('/css/fontello/fontello.eot?43683688#iefix') format('embedded-opentype'),
       url('/css/fontello/fontello.woff2') format('woff2'),
       url('/css/fontello/fontello.woff') format('woff'),
       url('/css/fontello/fontello.ttf') format('truetype'),
       url('/css/fontello/fontello.svg#fontello') format('svg');
}

/**************************
B. Modules & Variables
***************************/
$black: #333;
$white: #f0f0f0;
$wolf: #747474;
$orange: #f07818;

$fg: $white;
$bg: $black;
$accent: $orange;

/**************************
C. Stylesheet
***************************/
// 01. Globals
*{
	box-sizing: border-box;
}
html, body, ul{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Autocode", monospace;
	font-size: 16px;
	line-height: 1.3333;
	color: $fg;
	background-image: url('../resc/gridwise.png');
}
ul{
	list-style: none;
}
li:not(:last-child){
	margin-bottom: 2em;
}
#logo{
	display: inline-block;
	padding-top: 1.5rem;
	padding-left: 2rem;
	width: 150px;
	vertical-align: top;
}
#wrapper{
	display: inline-block;
	width: calc(100% - 166px);
	padding: 1.5rem 2rem;
}

// 02. Typography
p, h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	& + p{
		margin-top: 0.5em;
	}
}
a{
	position: relative;
	text-decoration: none;
	color: $accent;
	&:not(.inline){
		&::before{
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: .125em;
			background-color: $accent;
			transition: width 0.333s ease-out;
		}
		&:hover::before{
			width: 100%;
		}
	}
	&.inline{
		&:hover{
			text-decoration: underline;
		}
	}
}
del{
	position: relative;
	margin-right: 0.25em;
	text-decoration: none;
	color: darken($fg, 33%);
	&::after{
		content: "";
		position: absolute;
		top: 0.75em;
		left: -3px;
		width: calc(100% + 6px);
		height: 0.125em;
		background-color: darken($fg, 27.5%);
	}
}

// 03. Logo
.logo-version{
	width: 100%;
	max-width: 360px;
	&.horizontal{
		display: none;
	}

	&.one{
		#w, #t, #f{
			fill-opacity: 0;
			stroke: $accent;
		  stroke-width: 5;
		  stroke-dasharray: 600;
		  stroke-dashoffset: -600;
			animation-name: one;
		}
	}
}
#w, #t, #f{
	fill: #555;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
  animation-play-state: paused;

  &:hover{
  	fill: $wolf;
  }
}

@keyframes one{
	80%{
		fill-opacity: 0;
		stroke-dashoffset: 0;
		stroke-opacity: 1;
	}
	100%{
		fill-opacity: 1;
		stroke-dashoffset: 0;
		stroke-opacity: 0;
	}
}


// 04. Tree View
.tree{
	display: inline-block;
	padding-top: 2em;
	width: 580px;
	&.root{
		display: none;
	}
}

.node{
	position: relative;
	margin-left: 5em;
	&::before, .lead-in{
		content: "";
		position: absolute;
		background-color: $accent;
	}
	&::before{
		left: -4em;
		top: -1.25em;
		width: 2px;
		height: calc(100% + 2em);
	}
	&:last-child::before{
		height: 2em;
	}
	.lead-in{
		display: inline-block;
		top: 0.65em;
		left: -4em;
		height: 2px;
	}
	.content{
		opacity: 0;
	}
}

.branch{
	display: inline-block;

	&:focus{
		& > *::after{
			margin-left: 0.5em;
			color: $wolf;
			opacity: 1;
		}
	}
	&:hover, &.active, &:focus{
		outline: none;
		& > *::after{
			margin-left: 0.5em;
			opacity: 1;
		}
	}

	& > *{
		display: inline-block;
		cursor: pointer;
		&::after{
			content: "\e801";
			display: inline-block;
			margin-left: -0.5em;
			color: $accent;
			font-family: "fontello";
			opacity: 0;
			transition: all 0.25s ease-in;
		}
	}
}

// #heavy-dots{
// 	position: fixed;
// }

// 06. Responsive
@media screen and (max-width: 1024px){
	#logo, #wrapper{
		display: block;
		width: auto;
	}
	.logo-version{
		&.horizontal{
			display: block;
		}
		&.vertical{
			display: none;
		}
	}
	.tree{
		width: 100%;
		max-width: 720px;

		&.root{
			width: 100%;
			max-width: none;
		}
	}
}

@media screen and (max-width: 640px){
	body{
		font-size: 14px;
	}

	#wrapper{
		padding: 1rem;
	}
	#logo{
		padding-top: 1rem;
		padding-left: 1rem;
	}
	.logo-version{
		max-width: 240px;
	}

	.tree{
		padding-top: 1em;
		max-width: 100%;
	}

	.node{
		margin-left: 2em;
		&::before{
			top: -0.5em;
			left: -1em;
		}
		&:last-child::before{
			transform: rotate(-45deg);
			height: 0.5em;
			top: 6px;
			left: -12px;
			width: 2px;
		}
		.lead-in{
			display: none;
		}
	}

	li:not(:last-child){
		margin-bottom: 1em;
	}
}